:root {
	--background: #0d1117;
	--background-gradient: #0a0a16;
	--card-background: #1d3447;
}

* {
	margin: 0;
	padding: 0;
	font-size: 1rem;
	box-sizing: border-box;
}

body {
	min-height: 100vh;
	background: var(--background);
	background-image: radial-gradient(white 2%, transparent 2%);
	background-size: 40px 40px;
	cursor: none;
}
#cursor {
	position: fixed;
	width: 15px;
	height: 15px;
	border-top: 5px solid white;
	border-left: 5px solid white;
	transform-origin: top;
	transform: translate(-1px, 5px) rotate(15deg) scale(0);
	transition: transform 0.1s;
	pointer-events: none;
	animation: cursorGlow 5s linear infinite;
}

body:hover #cursor {
	transform: translate(-1px, 5px) rotate(15deg) scale(1);
}

@keyframes cursorGlow {
	0% {
		filter: drop-shadow(0 0 5px white) drop-shadow(0 0 15px white)
			drop-shadow(0 0 30px white) hue-rotate(0deg);
	}
	100% {
		filter: drop-shadow(0 0 5px white) drop-shadow(0 0 15px white)
			drop-shadow(0 0 30px white) hue-rotate(360deg);
	}
}
