@font-face {
	font-family: "MonaspaceArgon";
	src: url("assets/Fonts/MonaspaceArgonVarVF[wght,wdth,slnt].ttf")
		format("truetype"); /* Adjust the path if needed */
	font-weight: 100 900; /* Specify the weight range for variable fonts */
	font-style: normal;
}

:root {
	--background: #0d1117;
	--card-background: #0d1117;
	--border-color1: #c0c0c0;
	--border-color2: #a8a9ad;
	--border-color3: #afb1ae;
	--border-color4: #757575;
	--primary: white;
}

* {
	margin: 0;
	padding: 0;
	font-size: 1rem;
	box-sizing: border-box;
	font-family: "MonaspaceArgon";
}

a {
	text-decoration: none;
	color: rgba(255, 255, 255, 1);
	cursor: none;
	transition: all 0.5s;
}

a.link.active {
	color: rgba(255, 255, 255, 1);
	font-weight: bold;
	font-size: clamp(0.9rem, 1vw, 1.2rem); /* Responsive font size */
	transition: all 0.5s;
	/* text-decoration: dashed underline; */
}

a:hover {
	font-weight: bold;
	font-size: clamp(1rem, 1.2vw, 1.3rem); /* Responsive font size */
}

body {
	min-height: 100vh;
	background: var(--background);
	background-image: radial-gradient(white 2%, transparent 2%);
	background-size: 40px 40px;
	overflow: hidden;
	/* cursor: none; */
}

svg {
	transition: all 0.5s;
}

#cursor {
	position: fixed;
	width: 15px;
	height: 15px;
	border-top: 5px solid white;
	border-left: 5px solid white;
	transform-origin: top;
	transform: translate(-1px, 5px) rotate(15deg) scale(0);
	transition: transform 0.1s;
	pointer-events: none;
	animation: cursorGlow 5s linear infinite;
	z-index: 1000;
}

body:hover #cursor {
	transform: translate(-1px, 5px) rotate(15deg) scale(1);
}

@keyframes cursorGlow {
	0% {
		filter: drop-shadow(0 0 5px var(--border-color1))
			drop-shadow(0 0 15px var(--border-color3))
			drop-shadow(0 0 30px var(--border-color4)) hue-rotate(0deg);
	}
	100% {
		filter: drop-shadow(0 0 5px var(--border-color1))
			drop-shadow(0 0 15px var(--border-color2))
			drop-shadow(0 0 30px var(--border-color4)) hue-rotate(360deg);
	}
}

#nav-trigger {
	position: fixed;
	top: 0;
	left: 0;
	width: 15%;
	height: 100vh;
	z-index: 100;
}

#nav {
	height: 100vh;
	position: fixed;
	width: clamp(10%, 15vw, 15%); /* Responsive width */
	display: flex;
	justify-content: center;
	align-items: center;
	backdrop-filter: blur(1px);
	transition: all 0.5s ease, opacity 0.5s ease;
	transform: translateX(-25%); /* Initially hidden off-screen */
}

#nav-trigger:hover + #nav,
#nav:hover {
	transform: translateX(0); /* Slide in when hovered */
	width: 15%; /* Ensure it expands to full width */
	opacity: 1;
	z-index: 200;
	background-color: #0d111710;
	backdrop-filter: blur(2px);
}

#nav ul {
	list-style: none;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	height: 40%;
	transition: font-size 0.5s ease, opacity 0.5s ease;
}

#nav > ul {
	width: 100%;
}

#nav > ul > li {
	width: 100%;
	height: 15%;
	display: flex;
	justify-content: center;
	align-items: center;
}

#nav ul > li > a {
	transition: all 0.5s;
	text-align: left;
	color: rgba(255, 255, 255, 0.5);
	font-size: clamp(0.8rem, 1vw, 1rem); /* Responsive font size */
}

#nav ul > li > a.active {
	color: rgba(255, 255, 255, 1);
}

#nav > ul > li:hover a {
	color: white;
	font-size: clamp(1rem, 1.2vw, 1.3rem); /* Responsive font size */
	font-weight: 600;
}

.page {
	padding: 8% clamp(5rem, 10vw, 10%) 0 clamp(10vw, 25vw, 25%); /* Responsive padding */
	height: 100vh;
	width: 100%;
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	grid-template-rows: repeat(8, 1fr);
	gap: 20px;
}

.card {
	margin: 0 auto;
	padding: 1em 1.2em 1em 1.2em;
	width: clamp(150px, 10vw, 200px); /* Responsive width */
	background: var(--card-background);
	text-align: center;
	border-radius: 5px;
	color: white;
	position: relative;
	text-align: left;
	transition: all 0.5s;
}

@property --angle {
	syntax: "<angle>";
	initial-value: 0deg;
	inherits: false;
}

.card::after,
.card::before {
	content: "";
	position: absolute;
	height: 100%;
	width: 100%;
	top: 50%;
	left: 50%;
	translate: -50% -50%;
	z-index: -1;
	padding: 3px;
	border-radius: 5px;
	opacity: 1;
	animation: spin 5s linear infinite;
	background-image: conic-gradient(
		from var(--angle),
		var(--border-color1),
		var(--border-color2),
		var(--border-color3),
		var(--border-color4),
		var(--border-color2),
		var(--border-color1)
	);
}
.card::before {
	filter: blur(1rem);
	opacity: 0.2;
}

@keyframes spin {
	from {
		--angle: 0deg;
	}
	to {
		--angle: 360deg;
	}
}
.info-container {
	margin: 1rem 0rem 1rem 0.8rem;
}
/* #page-1 {
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	grid-template-rows: repeat(8, 1fr);
	gap: 20px;
} */

#about-me {
	grid-column-start: 1;
	grid-column-end: 6;
	grid-row: 1 / 2;
	height: 100%;
	width: 100%;
	box-sizing: border-box;
	padding: 1em 1.2em 1em 1.2em;
}

#headshot-info {
	display: flex;
	align-items: center;
	gap: clamp(1rem, 2vw, 2rem); /* Responsive gap */
	margin-left: clamp(1rem, 2vw, 2rem); /* Responsive margin */
}

#headshot-container {
	width: clamp(80px, 10vw, 100px); /* Responsive width */
	height: clamp(80px, 10vw, 100px); /* Responsive height */
	border-radius: 50%; /* Optional: Make the container circular */
	overflow: hidden; /* Ensure the image doesn't overflow the container */
}

#headshot-container img {
	width: 100%; /* Make the image fill the container's width */
	height: 100%; /* Make the image fill the container's height */
	object-fit: cover; /* Ensure the image fits within the container */
}

#name-job {
	display: flex;
	align-items: left;
	justify-content: space-between;
	flex-direction: column;
	text-align: left;
	/* width: 45%; */
}

#name-job > * {
	margin-left: clamp(0.5rem, 1vw, 1rem); /* Responsive margin */
}

#name {
	display: inline-block;
	font-size: clamp(1rem, 1.5vw, 1.2rem); /* Responsive font size */
	color: white;
	margin-bottom: 1rem;
}

#jobs {
	display: block;
	font-size: clamp(0.8rem, 1vw, 0.9rem); /* Responsive font size */
}

#social-media {
	grid-column: 8 / span 1;
	grid-row: 1 / span 2;
	height: fit-content;
	width: clamp(200px, 15vw, 250px); /* Responsive width */
}

.social-link-container {
	display: flex; /* Enable Flexbox */
	align-items: center; /* Center content vertically */
	justify-content: space-between; /* Push text to the left and SVG to the right */
	text-align: left; /* Keep text aligned to the left */
}

.social-link-container:hover .icon {
	fill: white;
	transition: fill 0.3s ease;
}

.link-spacing {
	margin-bottom: clamp(5%, 2vw, 7%); /* Responsive margin */
}

.social-link-container > a {
	display: flex; /* Ensure the link itself is a flex container */
	align-items: center; /* Center the text and SVG vertically */
	width: 100%; /* Ensure the link spans the full width of the container */
	justify-content: space-between; /* Push text to the left and SVG to the right */
}

#technologies {
	grid-column: 1 / end;
	grid-row: 1/2;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

.skill {
	text-align: center;
}
.skill > p {
	margin-bottom: 0.5rem;
}

#work-experience {
	grid-column: 1 / 10;
	grid-row: 2 / 9;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	/* border: 1px solid var(--border-color1); */
}

.experience {
	height: 400px;
	width: 300px;
}
.job-title {
	font-size: 1.05rem;
	font-weight: 800;
	margin-bottom: 0.3rem;
}
.heading {
	font-size: 1rem;
}
.location {
	font-size: 0.9rem;
	font-weight: 200;
}
.location > a:hover {
	font-weight: normal;
	font-size: 1.1rem;
}
.date-range {
	font-size: 0.9rem;
	font-weight: 400;
}
.duty {
	margin-top: 2rem;
	line-height: 1.4rem;
}
